<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="coopCycleApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.payment.paymentMethod">Payment Method</span></dt>
        <dd>
          <span jhiTranslate="{{ 'coopCycleApp.PaymentMethod.' + payment.paymentMethod }}">{{ payment.paymentMethod }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.payment.order">Order</span></dt>
        <dd>
          <div *ngIf="payment.order">
            <a [routerLink]="['/order', payment.order.id, 'view']">{{ payment.order.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
