<div>
  <h2 id="page-heading" data-cy="BasketHeading">
    <span jhiTranslate="coopCycleApp.basket.home.title">Baskets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopCycleApp.basket.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-basket"
        [routerLink]="['/basket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopCycleApp.basket.home.createLabel"> Créer un nouveau Basket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="baskets?.length === 0">
    <span jhiTranslate="coopCycleApp.basket.home.notFound">Aucun Basket trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="baskets && baskets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="basketId">
            <div class="d-flex">
              <span jhiTranslate="coopCycleApp.basket.basketId">Basket Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="basketState">
            <div class="d-flex">
              <span jhiTranslate="coopCycleApp.basket.basketState">Basket State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="coopCycleApp.basket.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="order.id">
            <div class="d-flex">
              <span jhiTranslate="coopCycleApp.basket.order">Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customer.id">
            <div class="d-flex">
              <span jhiTranslate="coopCycleApp.basket.customer">Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let basket of baskets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/basket', basket.id, 'view']">{{ basket.id }}</a>
          </td>
          <td>{{ basket.basketId }}</td>
          <td jhiTranslate="{{ 'coopCycleApp.BasketState.' + basket.basketState }}">{{ basket.basketState }}</td>
          <td>
            {{ basket.user?.id }}
          </td>
          <td>
            <div *ngIf="basket.order">
              <a [routerLink]="['/order', basket.order.id, 'view']">{{ basket.order.id }}</a>
            </div>
          </td>
          <td>
            {{ basket.customer?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/basket', basket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/basket', basket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(basket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="baskets && baskets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
